# Full reference https://github.com/foundry-rs/foundry/tree/master/crates/config

[profile.default]
auto_detect_solc = false
block_timestamp = 1_680_220_800 # March 31, 2023 at 00:00 GMT
bytecode_hash = "none"
evm_version = "paris" # See https://www.evmdiff.com/features?name=PUSH0&kind=opcode
fuzz = { runs = 1_000 }
gas_reports = ["*"]
optimizer = true
optimizer_runs = 10_000
out = "out"
script = "script"
solc = "0.8.23"
src = "src"
test = "test"
fs_permissions = [
  { access = "read", path = "fee.json" },
  { access = "read-write", path = "constants/deployment.json" },
]

[profile.ci]
fuzz = { runs = 10_000 }
verbosity = 4

[etherscan]
arbitrum = { key = "${API_KEY_ARBISCAN}" }
avalanche = { key = "${API_KEY_SNOWTRACE}" }
bnb_smart_chain = { key = "${API_KEY_BSCSCAN}" }
gnosis_chain = { key = "${API_KEY_GNOSISSCAN}" }
goerli = { key = "${API_KEY_ETHERSCAN}" }
mainnet = { key = "${API_KEY_ETHERSCAN}" }
optimism = { key = "${API_KEY_OPTIMISTIC_ETHERSCAN}" }
polygon = { key = "${API_KEY_POLYGONSCAN}" }
sepolia = { key = "${API_KEY_ETHERSCAN}" }
arbitrum_sepolia = { key = "${API_KEY_ARBISCAN}", url = "https://api-sepolia.arbiscan.io/api" }
optimism_sepolia = { key = "${API_KEY_OPTIMISTIC_ETHERSCAN}", url = "https://api-sepolia-optimistic.etherscan.io/api" }
mumbai = { key = "${API_KEY_POLYGONSCAN}", url = "https://api-testnet.polygonscan.com/api" }
base_sepolia = { key = "${API_KEY_BASESCAN}", url = "https://api-sepolia.basescan.org/api" }
scroll_sepolia = { key = "${API_KEY_SCROLLSCAN}", url = "https://api-sepolia.scrollscan.com/api" }
blast_sepolia = { key = "${API_KEY_BLASTSCAN}", url = "https://api-sepolia.blastscan.io/api" }
polygon_cardona = { key = "${API_KEY_POLYGON_ZKEVM}", url = "https://api-testnet-zkevm.polygonscan.com/api" }
bnb_testnet = { key = "${API_KEY_BSCSCAN}", url = "https://api-testnet.bscscan.com/api" }
mantle_sepolia = { key = "", url = "https://api-sepolia.mantle.xyz/api" }
astar_zkyoto = { key = "", url = "https://api-zkyoto.astar.network/api" }
avalanche_fuji = { key = "", url = "https://api-zkyoto.astar.network/api" }

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true

[rpc_endpoints]
arbitrum = "https://arbitrum-mainnet.infura.io/v3/${API_KEY_INFURA}"
avalanche = "https://avalanche-mainnet.infura.io/v3/${API_KEY_INFURA}"
bnb_smart_chain = "https://bsc-dataseed.binance.org"
gnosis_chain = "https://rpc.gnosischain.com"
goerli = "https://goerli.infura.io/v3/${API_KEY_INFURA}"
localhost = "http://localhost:8545"
mainnet = "https://eth-mainnet.g.alchemy.com/v2/${API_KEY_ALCHEMY}"
optimism = "https://optimism-mainnet.infura.io/v3/${API_KEY_INFURA}"
amoy = "https://polygon-amoy.infura.io/v3/${API_KEY_INFURA}"
arbitrum_sepolia = "https://arb-sepolia.g.alchemy.com/v2/O5jQ7VIjQuWX8Xz39wY7opqUAz3BPxM2"
optimism_sepolia = "https://optimism-sepolia.infura.io/v3/${API_KEY_INFURA}"
sepolia = "https://sepolia.infura.io/v3/${API_KEY_INFURA}"
base_sepolia = "https://base-sepolia.infura.io/v3/${API_KEY_INFURA}"
zksync_sepolia = "https://sepolia.era.zksync.dev"
scroll_sepolia = "https://scroll-public.scroll-testnet.quiknode.pro"
mantle_sepolia = "https://rpc.sepolia.mantle.xyz"
astar_zkyoto = "https://rpc.startale.com/zkyoto"
blast_sepolia = "https://blast-sepolia.infura.io/v3/${API_KEY_INFURA}"
polygon_cardona = "https://rpc.cardona.zkevm-rpc.com"
bnb_testnet = "https://bsc-testnet-rpc.publicnode.com"
avalanche_fuji = "https://avalanche-fuji-c-chain-rpc.publicnode.com"
